html, body {
	background-color: white;
}




.main {
	width: 840px;
	position: relative;
	height: 210px;
	background-color: #98FFFB;
	display: flex;
}



.block1, .block2, .block3, .block4 {
	width: 200px;
	height: 200px;
	margin: 5px;
	background-color: darkslategrey;
	text-align: center;
	font-size: 100px;
}

.block1 {
	position: absolute;
	right: 0;
}

.block2 {
	display: inline-block;
}

.block3 {
	float: left;
}



